
body.login {
 background-image: url('https://client.studio/client/wp/wp-admin-login-bg.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
  
}
