:root {
  --primary: #0E2A6F;
  --secondary: #0EA6DF;
  --success: #19803E;
  --info: #FF9600;
  --warning: #B4211A;
  --danger: #E68700;
  --light: #fafafa;
  --dark: #010101;
  --text: #212121;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

/* -------------------------- */
/* Load */
/* -------------------------- */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #010101;
  position: fixed;
  z-index: 200000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

body > :not(.pace),body:before,body:after {
  -webkit-transition:opacity .2s ease-in-out;
  -moz-transition:opacity .2s ease-in-out;
  -o-transition:opacity .2s ease-in-out;
  -ms-transition:opacity .2s ease-in-out;
  transition:opacity .2s ease-in-out
}

body:not(.pace-done) > :not(.pace),body:not(.pace-done):before,body:not(.pace-done):after {}

/* -------------------------- */
/* Additions */
/* -------------------------- */

body, html { height: 100%; min-height: 100%; width: 100%;}

body {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: always !important;
}

::selection {
  background: #1a1a1a;
  color: #fff;
}

::-moz-selection {
  background: #1a1a1a;
  color: #fff;
}

html, body {
	height: 100%; width: 100%;
	margin: 0; padding: 0;
}

.jumbotron {
  margin: 0; padding: 0; border: 0; border-radius: 0;
  background-color: var(--dark) !important;
  background-position: center center; background-size: cover;
  min-height: 480px;
 }

.debug { background: #ff0000; }

.rel { position: relative; }

.mask { background: rgba(0,0,0,.4); position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.z-fix { position: relative; z-index: 9; }

/* -------------------------- */
/* Typo */
/* -------------------------- */

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


body {
	 font-family: var(--font-family);
	 font-weight: normal;
	 letter-spacing: 0.01em;
	 -webkit-font-smoothing: antialiased;
	 -webkit-text-size-adjust: 100%;
	 -ms-text-size-adjust: 100%;
	 -webkit-font-feature-settings: "kern" 1;
	 -moz-font-feature-settings: "kern" 1;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  line-height: 1.2;
  margin-top: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--dark) !important;
  font-family: var(--font-family-heading);
  font-weight: 500;
  hyphens: none;
}

h1 {
  font-size: 48px;
  font-size: 3rem;
  margin-bottom: 14.85px;
  margin-bottom: 0.825rem;

}


@media (max-width: 767px) {
  h1 {
    word-break: break-word;
    hyphens: auto;
  }

}

h2 {
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: 14.85px;
  margin-bottom: 0.825rem;
  text-transform: none;
}


h3 {
  font-size: 21px;
  font-size: 1.5rem;
  margin-bottom: 11.1375px;
  margin-bottom: 0.71875rem;

}

h4 {
  font-size: 12px;
  font-size: 0.722rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}

h5, h6 {
  font-size: 15px;
  font-size: 1.2rem;
  margin-bottom: 11.1375px;
  margin-bottom: 0.61875rem;

}

p, table, label, ul, ol, dl, dt, select, address {
	font-size: 14px;
	font-size: 0.866rem;
	margin-bottom: 14.85px;
  margin-bottom: 0.825rem;
	line-height: 1.111rem;
	color: var(--text) !important;
}

input, textarea,
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
	color: var(--dark) !important;
  font-size: 16px;
}

article p {
line-height: 1.5;
}

p.large, p.lead { font-size: 1.1rem; font-weight: normal; }

.footer p, .footer ul, .footer ol { font-size: 0.766rem; }

p.small, .small, small, .wp-caption-text { font-size: 0.665rem; }

a:not(.btn) {
  text-shadow: none; text-decoration: none;
  color: #010101;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}

a:not(.btn):focus,
a:not(.btn):not(.cli_action_button):hover,
a:not(.btn):active {
  color: var(--dark) !important;
}

a,
a:focus,
a:hover,
a:active {
  outline: 0 !important;
  text-decoration: none;
}

article a { text-decoration: underline; }

.italic, em, i { font-style: italic; }

.caps { text-transform: uppercase; }

.text-white * { color: #fff !important;}

input,
aabbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
	-webkit-hyphens: none;
	hyphens: none;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.form-control { border-radius: 0; }

/* -------------------------- */
/* Styles */
/* -------------------------- */

.text-right { text-align: right; }
.text-center { text-align: center; }

img.alignright { padding: 4px; margin: 0 0 2px 14px; display: inline; }
img.alignleft { padding: 4px; margin: 0 14px 2px 0; display: inline; }
.alignright { float: right; }
.alignleft { float: left; }

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

/* The Gallery container (div) */
.gallery { }

/* A Gallery item container,
 for 3, 2 and 4 column galleries */
.gallery .gallery-item { }
.gallery-columns-2 .gallery-item { }
.gallery-columns-4 .gallery-item { }

/* The actual image inside a container
for 3, 2 and 4 column galleries */
.gallery img { }
.gallery-columns-2 .attachment-medium { }
.gallery-columns-4 .attachment-thumbnail { }

/* A gallery image caption */
.gallery .gallery-caption { }

/* Definition lists elements */
.gallery dl, .gallery dt { }

/* Pick the second line break if two
line breaks are adjacent */
.gallery br+br { }

/* -------------------------- */
/* Menu */
/* -------------------------- */


.navbar-brand img { max-width: 120px; height: auto; }

.navbar-light { background: #fff; }

.header .navbar-nav li a { font-size: .899rem; font-weight: 600; }

.header .collapse.show ul li, .header .collapsing ul li { padding: 20px 0px; font-size: 1rem; }

.header .collapse.show ul, .header .collapsing ul {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 0;
}

.navbar-toggler { border: 0; padding: 0;  }



/* -------------------------- */
/* Buttons */
/* -------------------------- */

.btn {
	font-weight: bold;
	border: 0px !important;
	padding: 10px 25px;
  text-decoration: none;
	transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s, box-shadow 0.2s ease-in-out !important;
}
.btn:hover {
	/* box-shadow:0 4px 8px rgba(0,0,0,0.2);  */
}

.btn-rounded {
	border-radius: 30px;
}

/* -------------------------- */
/* Paginate */
/* -------------------------- */

.pagination { clear: both; float: none; width: 100%;  }
.pagination-centered { margin: 10px auto; text-align: center; }
ul.pagination { list-style: none; padding: 0; margin: 0; margin-bottom: 1rem; }
ul.pagination li { display: inline; margin: 0 5px; font-size: 1rem; }
ul.pagination li a { border-radius: 35px; height: 35px; width: 35px; display: inline-block; line-height: 35px; }
ul.pagination li span.current { background: #000; color: #fff; border-radius: 35px; height: 35px; width: 35px; display: inline-block; line-height: 35px;  }
ul.pagination li a:hover { background: #ccc; color: #fff; }
ul.pagination li a.next, ul.pagination li a.prev { border-radius: 0; width: auto; padding: 0; }
ul.pagination li a.next:hover, ul.pagination li a.prev:hover { background: none; color: #000; }
ul.pagination li a.next { margin-left: 20px; }
ul.pagination li a.prev { margin-right: 20px; }

.infinite-scroll .pagination {
  display: none;
}

/* -------------------------- */
/* wpcf7 */
/* -------------------------- */

.wpcf7-response-output {
	position: fixed; top: 0; left: 0; width: 100%;
	margin: 0 !important;
	z-index: 9999;
	background: #e7a045;
  padding: 10px 0px !important;
	color: #fff;
	text-align: center;
	border: none !important;
	font-size: .944rem;
}

.wpcf7-response-output:before {
	  font-family: "Ionicons";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	  /*--adjust as necessary--*/
    color: #fff;
    font-size: 14px;
    padding-right: 8px;
}

.wpcf7-form.invalid .wpcf7-response-output:before {
	content: "\f100";
}

.wpcf7-form.sent .wpcf7-response-output:before {
	content: "\f383";
}
.wpcf7-form.sent .wpcf7-response-output {
	background: #008740 !important;
}

span.wpcf7-not-valid-tip { font-size: 0.622rem; margin-top: 5px; }

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea,
.wpcf7::placeholder
{
  background-color: #fff;
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 5px;
  border-radius: 2px;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
  outline: 0;
}

.wpcf7 input[type="text"]:focus,
.wpcf7 input[type="email"]:focus,
.wpcf7 textarea:focus,
.form-control:focus
{
  background-color: #fff;
  color: #010101;
	border: 1px solid #808080;
}

.wpcf7 input.wpcf7-not-valid {border: 1px solid #ff0000 !important;}

.wpcf7 textarea { resize: none; }

.wpcf7-submit { cursor: pointer; color: #fff !important; position: relative; right: 0; }

/* replace ajax load gif */
.wpcf7 form.wpcf7-form span.ajax-loader { background: none; }

.wpcf7 form.wpcf7-form span.ajax-loader {
    position: relative;
}

.wpcf7 form.wpcf7-form span.ajax-loader:before {
    content: 'Loading…';
    position: absolute;
    top: .5em;
    left: -8em;
    width: 1em;
    height: 1em;
    margin-top: -.5em;
}

.wpcf7 form.wpcf7-form span.ajax-loader:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #404040;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

/* -------------------------- */
/* Footer */
/* -------------------------- */

.footer { background: #f8f8f8;  }

.footer ul { padding-left: 0px; list-style: none;}

.copyright p, .copyright ul { color: #808080; line-height: 30px; margin: 0; font-size: .722rem; }

.copyright a { color: #808080; }

a.edit-post-link {
position:fixed;
bottom: 30px;
right: 30px;
display: block;
width: 50px;
height: 50px;
line-height: 50px;
background-color: rgba(0,0,0,.15);
border-radius: 50px;
text-align:center;
box-shadow: none;
transition: box-shadow 1s ease-in-out;
transition: background 0.35s ease-in-out;
}
a.edit-post-link:hover { box-shadow: 0px 5px 10px rgba(0,0,0,.1); background-color: rgba(0,0,0,.25); }


.cli-plugin-main-link { font-weight: normal !important; }

/* -------------------------- */
/* Custom */
/* -------------------------- */
